*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.img-containe{
    display: none;
}
h1{
    
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 1rem;
    color: rgba(255, 114, 94, 1);
    text-transform:uppercase;
   

}
.form-containe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    background: rgba(255, 233, 233, 1);


}

.form, .password {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.9rem;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(255, 114, 94, 1);

     
}
.password{
    width: 100%;
    margin-top: 1rem;
}

form  input{
    width: 15rem;
    height: 2.5rem;
    border: none;
    border-bottom: solid 0.1rem rgba(255, 114, 94, 1);
    background-color: transparent;
}

.btn-send{
    height: 4rem;
    width: 15rem;
    border-radius: 14px;
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    text-transform:uppercase;
    background: rgba(255, 177, 166, 1);

    
}
